doctype html
html
	head
		title= title
		script(src="polymer/bower_components/webcomponentsjs/webcomponents-lite.js")
		link(rel="import",href="polymer/elements/elements.html")
	body(class='layout fullbleed vertical' unresolved)
		block content
  
	
