extends layout

link(rel="import",href="polymer/bower_components/paper-input/paper-input.html")
link(rel="import",href="polymer/bower_components/paper-material/paper-material.html")
	block content
		link(rel="stylesheet", href="polymer/styles/login.css")
		div(class='center login-box')
			h2	Complete the form to login	
			paper-material(elevation="2")
				form#form( name='login' method="post" action="/login")
					paper-input#paperInput( name="username" label="Name" required)
					paper-input(type="password" name="password" label="Password" required)
					br
					button(type="submit")	Submit